.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: relative
    bottom: 24%
    right: 83%
    width: 170px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: relative
    top: 18%
    right: 72%
    width: 160px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: relative
    top: 45%
    right: -8%
    width: 180px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///colores
.color-fondo
  background-color: rgba(117,182,47,0.13)!important

.color-fondo-secundario
  background-color: rgba(248,83,22,0.15)!important

.color-fondo-terciario
  background-color: #ACD382 !important

.color-fondo2
  background-color: $color-secundario

.color-acentoc-fondo
  background-color: $color-acento-contenido

.color-acentob-fondo
  background-color: $color-acento-botones

.tarjeta-flip__contenido
 background-color: $color-acento-contenido !important;


.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #12263F
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: rgba(220,231,54,0.13)!important

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: rgba(117,182,47,0.13)!important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px


.img-infografica__item__numero
  color: white !important;
  
.banner-principal__componente h1
  color: black !important;

.banner-principal p
  color: black !important;

.me-1
  color: white !important;

.me-2
  color: white !important;

.fa-angle-right
  color: white !important;

.fas.fa-angle-right.txt--black
  color: black !important;
.fa-puzzle-piece
  color: white !important;

.d-md-block
  color: white !important;

.fa-square
  color: $color-acento-contenido !important;

.fcab15
  background-color: #FAFCE1 !important
.fcs15, .tarjeta.color-secundario.acordion__activo
  background-color: #dce73625 !important

.acordion
  .tarjeta.color-secundario
    background-color: #f6f6f6

.acordion__accion__btn, .acordion__accion__btn--a
  background-color: $color-secundario !important

.slider
 background-color: rgba(220,231,54,0.25)!important

.tabs-c__tab--active
  font-weight: bold !important;

.test
  text-align: right !important;